<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li class="active">Portal Search</li>
    </ol>

    <div class="page-header page-header-tweak">
      <h1>Portal Search</h1>
    </div>

    <div class="row">
      <div class="col-md-8">
        <button type="button" class="btn btn-success" [routerLink]="['/create-portal']">Create Portal</button>
      </div>
      <div class="col-md-4">
        <form [formGroup]="form" (ngSubmit)="onFormSubmit(form.value)">
          <div class="input-group">
             <input type="text" name="query" id="query" formControlName="query" class="form-control" placeholder="Search for..." autocomplete="off">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-success">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="portals.length > 0" class="row search-table">
      <div class="col-md-12">
        <table class="table">
          <tr>
            <th>Portal Name</th>
            <th>Date Created</th>
            <th>Created By</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let portal of portals">
            <td>{{ portal.name }}</td>
            <td>{{ portal.dateCreated | date: 'shortDate' }}</td>
            <td>{{ portal.createdBy.username }}</td>
            <td>{{ portal.description }}</td>
            <td class="action-column">
              <a class="btn btn-success btn-xs" [routerLink]="['/edit-portal', portal.id]">
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              </a>
              &nbsp;
              <a class="btn btn-success btn-xs" [routerLink]="['/portal', portal.id]">
                <span class="glyphicon glyphicon-eye-open"></span>
                View
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div *ngIf="portals.length == 0" class="row search-table">
      <div class="col-md-12">
        <p class="text-center">No portals exist.</p>
      </div>
    </div>
  </div>
</div>
