<div class="mid-center-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="logo"><img class="img-responsive center-block" src="/assets/logo.png"></div>
        <div class="site-header">Questizzle</div>
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-md-6 col-md-offset-3">
        <h2>Email Confirmed</h2>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Thank you for the confirmation.  Your account is now active.</p>
          </div>
        </div>
        <a [routerLink]="['/login']">Login Page</a>
      </div>
    </div>
  </div>
</div>
