<div class="mid-center-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="logo"><img class="img-responsive center-block" src="/assets/logo.png"></div>
        <div class="site-header">Questizzle</div>
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-md-6 col-md-offset-3">
        <h2>Confirmation Email</h2>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>A confirmation link has been emailed.  Please click on the confirmation link to activity your account.</p>
          </div>
        </div>
        <a class="btn btn-default" [routerLink]="['/login']">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
      </div>
    </div>
  </div>
</div>
